<h1 style="margin:0 auto;">Editing Pin</h1>

<div class="pin-show-btns">
  <%= link_to 'Show', @pin, class:"btn btn-danger"%>
  <%= link_to 'Back', pins_path, class:"btn btn-secondary" %>
</div>

<%= render 'form', pin: @pin %>
