default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: RubyPinterest_development
  host: 127.0.0.1
  port: 5433
  username: postgres
  password: arigatou12

test:
  <<: *default
  database: RubyPinterest_test
  host: 127.0.0.1
  port: 5433
  username: postgres
  password: arigatou12

production:
  <<: *default
  database: RubyPinterest_production
  username: RubyPinterest
  password: <%= ENV['RUBYPINTEREST_DATABASE_PASSWORD'] %>
